section#subscribe {
  background: url(../../assets/subscribe-bg.png);
  text-align: center;
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
}

.subscribe h2 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 1.5rem 0;
  padding-bottom: 1rem;
}

form>* {
  width: 100%;
  max-width: 50rem;
  margin: 3rem auto;
}

.header>h2 {
  font-size: 4rem;
}

form input {
  border: none;
  background-color: #fff;
  border-radius: 0;
  color: #111;
  padding: 1rem;
  width: 80%;
}

.form-control {
  display: flex;
}


.search__icon {
  display: inline;
  background-color: #fff;
  color: #111;
  padding: 1.5rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

form button {
  padding: 1rem;
  background: var(--form-button);
  border: 1px solid var(--form-button);
  border-radius: 0 5px 5px 0;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}

.services__link a {
  cursor: pointer;
  text-decoration: underline #f5f3f3;
  text-underline-offset: 2px;
}

.services__link a:hover {
  text-decoration: underline orangered;
  text-underline-offset: 2px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  margin: 2rem;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.social-icon:hover {
  background: var(--light-blue);
  border-color: var(--light-blue);
}

@media screen and (max-width: 600px) {
  form input {
    width: 60%;
  }
}