a {
  font-size: 10px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  margin-right: 1rem;
  transition: all 0.3s;
}

a.btn {
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: 500;
  cursor: pointer;
}

a.btn-dark {
  background: transparent;
  border: 2px solid #fff;
}
a.btn-light {
  background: orangered;
  border: 2px solid transparent;
  color: #fff;
}

@media screen and (max-width: 600px) {
  a.btn {
    display: inline;
  }
}
