section#header {
  background: url(../../assets/subscribe1-bg.png);
  text-align: center;
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
}

.subscribe h2 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 1.5rem 0;
  padding-bottom: 1rem;
}

form>* {
  width: 100%;
  max-width: 50rem;
  margin: 3rem auto;
}

form input {
  padding: 1rem;
  background: transparent;
  border: 1px solid #777;
  border-radius: 5px 0 0 5px;
  color: #fff;
  outline: none;
  width: 80%;
  font-size: 1.6rem;
}

.service__input {
  border: none;
  background-color: #fff;
  border-radius: 0;
  color: #111;
  padding: 1.5rem 1rem;
}

form button {
  padding: 1rem;
  background: var(--form-button);
  border: 1px solid var(--form-button);
  border-radius: 0 5px 5px 0;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}

.service__button {
  padding: 1.5rem 1.25rem;
}

.services__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60%;
  height: 25rem;
  background-color: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  z-index: 3;
  margin: 0 auto;
  margin-top: -4rem;
  border-radius: 10px;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #111;
}

.services__link a {
  font-size: 10px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  margin-right: 1rem;
  transition: all 0.3s;
}


.services__item>img {
  width: 3rem;
}

@media screen and (max-width: 6000px) {
  form input {
    width: 60%;
    height: 10;
  }
}

@media screen and (max-width: 960px) {
  .services__container {
    display: none;
  }
}